<!DOCTYPE html>
<html>
<head>
  <title>Rowan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="WeatherApp" ng-controller="weatherController" style="padding:10px;">

<%= yield %>

</body>
</html>
